/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
.php_cs.cache
/public/mixmanifest.json
/public/css/app.css
/public/css/vendor.css
/public/js/app.js
/public/js/vendor.js

