// Variables
@import 'variables';

.carousel_with_text {
    text-align: center;
}

.carousel_text {
    position: absolute;
    top: 8px;
    width: 100%;
    text-align: center;
}

.highlight_cell {
    background-color: #ffffb3 !important;
}

.double_highlight {
    background-color: #ffff33 !important;
}
