// Variables
@import 'variables';

// For Sticky Footer From Materialize
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

// Begin Site css
.carousel_with_text {
    text-align: center;
}

.carousel_text {
    position: absolute;
    top: 8px;
    width: 100%;
    text-align: center;
}

.highlight_cell {
    background-color: #ffffb3 !important;
}

.double_highlight {
    background-color: #ffff33 !important;
}
