// Variables
@import 'variables';

// For Sticky Footer From Materialize
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

// Begin Site css
.carousel_with_text {
    text-align: center;
}

.carousel_text {
    position: absolute;
    top: 8px;
    width: 100%;
    text-align: center;
}

// Crosshair Table Highlights
.highlight_cell {
    background-color: #ffffb3 !important;
}

.double_highlight {
    background-color: #ffff33 !important;
}

// Home Page
.hero_image_block {
    position: relative;
    width: 100%;
}

.hero_image {
    width: 100%;
}

.hero_text {
    font-size: 4vw;
    color: white;
    position: absolute;
    bottom: 10%;
    left: 2.5%;
}

// General Rules

// Adds space between <p>'s
p + p {
    margin-top: 1em !important;
}
