// Variables
@import 'variables';

// For Sticky Footer From Materialize
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

// Begin Site css
.carousel_with_text {
    text-align: center;
}

.carousel_text {
    position: absolute;
    top: 8px;
    width: 100%;
    text-align: center;
}

// Crosshair Table Highlights
.highlight_cell {
    background-color: #ffffb3 !important;
}

.double_highlight {
    background-color: #ffff33 !important;
}

// Home Page
.hero_image_block {
    position: relative;
    width: 100%;
}

.hero_image {
    width: 100%;
}

.hero_text {
    font-size: 4vw;
    color: white;
    position: absolute;
    bottom: 10%;
    left: 2.5%;
}

// General Rules

// Adds space between <p>'s
p + p {
    margin-top: 1em !important;
}

.dive_table td, .dive_table th {
    padding: 0.15em 0.3em 0.15em 0.3em;
}

.dive_table td {
    font-weight: 500;
}

.dive_table th {
    font-weight: 700;
}

.flash {
    position: relative;
}

.flash_span {
    display: inline;
    padding-left: 0.5em;
}

.flash_close {
    padding-left: 0.5em;
}

.padded_image {
    padding: 0.25em;
}

.padded_image.active_image {
    background-color: dodgerblue;
}

.fake_label {
    font-size: 0.75rem;
}

.label_override {
    font-size: 0.75rem !important;
}
